# Instructor Do: Getting Data for Sentiment Analysis

In [1]:
# Initial imports
import os
import pandas as pd
from newsapi import NewsApiClient
from dotenv import load_dotenv
load_dotenv("example.env")

True

In [3]:
# Reading the News API key enviroment variable
api_key = os.getenv("news_api")

In [4]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [12]:
# Fetch top news articles about Bitcoin
bitcoin_headlines = newsapi.get_top_headlines(q="Bitcoin", language="en", country="us")

In [13]:
# Print total articles
print(f"Total articles about Bitcoin: {bitcoin_headlines['totalResults']}")

# Show sample article
bitcoin_headlines["articles"][0]

Total articles about Bitcoin: 1

{'source': {'id': 'cbs-news', 'name': 'CBS News'},
 'author': None,
 'title': 'Why is the price of Bitcoin and other cryptocurrencies falling? - CBS News',
 'description': 'Digital currencies slumped after Chinese banking authorities moved to clamp down on their usage.',
 'url': 'https://www.cbsnews.com/news/crypto-price-bitcoin-down-2021-05-22/',
 'urlToImage': 'https://cbsnews3.cbsistatic.com/hub/i/r/2021/05/19/8edc83f1-a9ea-4f02-b48e-0adb30b98046/thumbnail/1200x630/19382be932428563d70d738adcbe7e9a/2021-05-19t203900z-541777464-rc28jn928g9j-rtrmadp-3-crypto-currency-bitcoin.jpg',
 'publishedAt': '2021-05-22T10:59:29Z',
 'content': 'The price of Bitcoin fell as much as 29% Wednesday after the China Banking Association warned member banks of risks associated with digital currencies. Other digital currencies suffered sharp decline… [+7661 chars]'}

In [9]:
# Transform the response dictionary to a DataFrame
bitcoin_df = pd.DataFrame.from_dict(bitcoin_headlines["articles"])

bitcoin_df.head()

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': 'cbs-news', 'name': 'CBS News'}",None,Why is the price of Bitcoin and other cryptocu...,Digital currencies slumped after Chinese banki...,https://www.cbsnews.com/news/crypto-price-bitc...,https://cbsnews3.cbsistatic.com/hub/i/r/2021/0...,2021-05-22T10:59:29Z,The price of Bitcoin fell as much as 29% Wedne...

In [16]:
bitcoin_df.describe()

,source,author,title,description,url,urlToImage,publishedAt,content
count,1,0,1,1,1,1,1,1
unique,1,0,1,1,1,1,1,1
top,"{'id': 'cbs-news', 'name': 'CBS News'}",NaN,Why is the price of Bitcoin and other cryptocu...,Digital currencies slumped after Chinese banki...,https://www.cbsnews.com/news/crypto-price-bitc...,https://cbsnews3.cbsistatic.com/hub/i/r/2021/0...,2021-05-22T10:59:29Z,The price of Bitcoin fell as much as 29% Wedne...
freq,1,NaN,1,1,1,1,1,1

In [10]:
# Fetch all the news about Ethereum
ethereum_headlines = newsapi.get_everything(
    q="ethereum", language="en", sort_by="relevancy"
)

# Print total articles
print(f"Total articles about Ethereum: {ethereum_headlines['totalResults']}")

# Show sample article
ethereum_headlines["articles"][0]

Total articles about Ethereum: 4673

{'source': {'id': 'techcrunch', 'name': 'TechCrunch'},
 'author': 'Manish Singh',
 'title': 'Vitalik Buterin donates $1 billion worth of ‘meme coins’ to India Covid Relief Fund',
 'description': 'Vitalik Buterin, the creator of Ethereum, on Wednesday donated Ethereum and “meme coins” worth $1.5 billion in one of the largest-ever individual philanthropy efforts. Buterin transferred 500 ETH and over 50 trillion SHIB (Shiba Inu), a meme coin, worth aroun…',
 'url': 'http://techcrunch.com/2021/05/12/vitalik-buterin-donates-1-billion-worth-of-meme-coins-to-india-covid-relief-fund/',
 'urlToImage': 'https://techcrunch.com/wp-content/uploads/2017/09/vitalik-buterin-147a2566.jpg?w=600',
 'publishedAt': '2021-05-12T22:46:10Z',
 'content': 'Vitalik Buterin, the creator of Ethereum, on Wednesday donated Ethereum and meme coins worth $1.5 billion in one of the largest-ever individual philanthropy efforts.\r\nButerin transferred 500 ETH and … [+1667 chars]'}

In [15]:
# Transform the response dictionary to a DataFrame
ethereum_df = pd.DataFrame.from_dict(ethereum_headlines["articles"])

ethereum_df.head()

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': 'techcrunch', 'name': 'TechCrunch'}",Manish Singh,Vitalik Buterin donates $1 billion worth of ‘m...,"Vitalik Buterin, the creator of Ethereum, on W...",http://techcrunch.com/2021/05/12/vitalik-buter...,https://techcrunch.com/wp-content/uploads/2017...,2021-05-12T22:46:10Z,"Vitalik Buterin, the creator of Ethereum, on W..."
1,"{'id': 'techcrunch', 'name': 'TechCrunch'}",David Riggs,Radical Ethereum entrepreneurs are redefining ...,Their investors call them disruptive innovator...,http://techcrunch.com/2021/05/04/radical-ether...,https://techcrunch.com/wp-content/uploads/2021...,2021-05-04T14:30:39Z,Their investors call them disruptive innovator...
2,"{'id': 'techcrunch', 'name': 'TechCrunch'}",Connie Loizos,"Solana, a blockchain platform followed by top ...",Solana isn’t known yet outside of the crypto c...,http://techcrunch.com/2021/05/14/solana-a-bloc...,https://techcrunch.com/wp-content/uploads/2021...,2021-05-15T01:49:36Z,Solana isn’t known yet outside of the crypto c...
3,"{'id': 'cnn', 'name': 'CNN'}","Paul R. La Monica, CNN Business","Move over, Bitcoin. Ethereum is at an all-time...",Bitcoin prices continued their rebound Saturda...,https://www.cnn.com/2021/05/01/investing/ether...,https://cdn.cnn.com/cnnnext/dam/assets/2105010...,2021-05-01T17:24:45Z,New York (CNN Business)Bitcoin prices continue...
4,"{'id': 'techcrunch', 'name': 'TechCrunch'}",Lucas Matney,CryptoPunks maker Larva Labs launches their ne...,"The creators behind CryptoPunks, one of the mo...",http://techcrunch.com/2021/05/03/cryptopunks-m...,https://techcrunch.com/wp-content/uploads/2021...,2021-05-03T18:08:48Z,"The creators behind CryptoPunks, one of the mo..."

In [17]:
ethereum_df.describe()

,source,author,title,description,url,urlToImage,publishedAt,content
count,20,20,20,20,20,19,20,20
unique,6,14,20,17,20,16,19,20
top,"{'id': 'reuters', 'name': 'Reuters'}",Reuters Staff,"Bitcoin, ethereum get S&P cryptocurrency index...","Cryptocurrency ether hit a record high of $3,0...",https://www.reuters.com/technology/ethereum-br...,https://s1.reutersmedia.net/resources_v2/image...,2021-05-03T01:50:00Z,New York (CNN Business)Bitcoin prices continue...
freq,10,4,1,2,1,3,2,1